* {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* nav color logo */
.container {
  /* background: rgb(220, 212, 212); */
  background: linear-gradient(rgb(127, 118, 118), rgb(220, 212, 212));
}

.container header {
  letter-spacing: 0.2em;
  font-family: "Tenor Sans", sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 150px;
  font-size: xx-large;
}

/* navc bar menu */
nav a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  letter-spacing: 0.2em;
  font-size: 18px;
  padding: 7.5px 15px;
}

nav {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

a {
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  /* display: block; */
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000000;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

nav a:hover:after {
  width: 100%;
  left: 0;
}

/* slider */
.slider img {
  width: 99vw;
}

.wrapper {
  animation: slide 16s infinite;
  display: flex;
  width: 100%;
  height: 100%;
}

.slider {
  overflow: hidden;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-300%);
  }
}

/* heading */
.heading {
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: xx-large;
}

/* cards */
.cards {
  display: flex;
  margin: auto;
  /* max-width: 95vw; */
  overflow-x: hidden;
  justify-content: center;
  margin: 15px;
}

.card {
  margin: 0 8px;
}

.insta {
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
  margin-top: 60px;
  font-size: xx-large;
}

.contact {
  /* font-family: "Montserrat", sans-serif; */
  background: black;
  color: white;
  letter-spacing: 0.2em;
  margin-top: 90px;
  /* padding-bottom: 30px;
  padding-left: 30px; */
  padding: 7.5px 15px;
}

ul li{
  list-style: none;
}